
<ion-view id="about">
  <ion-content>
  <!-- {{currentData}}
  	<p>{{data.scrum2[currentData].content}} </p>
  	<div ng-repeat="info in data.scrum2[currentData].content">
  		{{info.title}}
  	</div> -->
    <!-- no subs -->
	<div ng-show="currentAboutData" class="wrapper">
		<img class="banner" ng-src="{{currentAboutData.banner}}" alt="{{currentAboutData.banner}}">
		
		<div class="custom-content" ng-repeat="info in data.scrum2[currentData].content">
			<h3>{{info.title}}</h3>
			<div class="card">
				<div class="header"><img ng-src="{{info.photo}}" alt="{{info.title}} header"></div>
				<div class="item item-text-wrap">{{info.text | limitTo: 100}}{{info.text.length > 100 ? '...' : ''}}</div>
				<div class="item text-right item-divider" ng-show="info.text.length > 100"> <div class="arrowDown" ng-click="openModal({{$index}})"><i class="ion-arrow-down-b"></i></div></div>
			</div>
		</div>
	</div>
	<div ng-hide="currentAboutData" class="wrapper">
		<img class="banner" ng-src="{{currentParentOfSubInfo.banner}}" alt="{{currentParentOfSubInfo.banner}}">
		
		<div class="custom-content" ng-repeat="info in currentParentOfSubInfo.content">
			<h3>{{info.title}}</h3>
			<div class="card">
				<div class="header"><img ng-src="{{info.photo}}" alt="{{info.title}} header"></div>
				<div class="item item-text-wrap">{{info.text | limitTo: 100}}{{info.text.length > 100 ? '...' : ''}}</div>
				<div class="item text-right item-divider" ng-show="info.text.length > 100"> <div class="arrowDown" ng-click="openModal({{$index}})"><i class="ion-arrow-down-b"></i></div></div>
			</div>
		</div>
	</div>

	<!-- with subs -->
	<!-- <div ng-show="data.about.subMenu" class="wrapper">
		<div ng-hide="currentAbout">
			<img class="banner" ng-src="{{data.about.banner}}" alt="{{data.about.banner}}">
			<div class="custom-content" ng-repeat="info in data.about.content">
				<h3>{{info.title}}</h3>
				<div class="card">
					<div class="header"><img ng-src="{{info.photo}}" alt="{{info.title}} header"></div>
					<div class="item item-text-wrap">{{info.text | limitTo: 100}}{{info.text.length > 100 ? '...' : ''}}</div>
					<div class="item text-right item-divider" ng-show="info.text.length > 100"> <div class="arrowDown" ng-click="openModal({{$index}})"><i class="ion-arrow-down-b"></i></div></div>
				</div>
			</div>
		</div>
		
		<div ng-show="currentAbout">
			<img class="banner" ng-src="{{currentAbout.banner}}" alt="{{currentAbout.banner}}">
		
			<div class="custom-content" ng-repeat="info in currentAbout.content">
				<h3>{{info.title}}</h3>
				<div class="card">
					<div class="header"><img ng-src="{{info.photo}}" alt="{{info.title}} header"></div>
					<div class="item item-text-wrap">{{info.text | limitTo: 100}}{{info.text.length > 100 ? '...' : ''}}</div>
					<div class="item text-right item-divider" ng-show="info.text.length > 100"> <div class="arrowDown" ng-click="openModal({{$index}})"><i class="ion-arrow-down-b"></i></div></div>
				</div>
			</div>
		</div>
		
		
	</div> -->
  </ion-content>
</ion-view>

 <!-- Modals -->
<script id="aboutMore.html" type="text/ng-template">
    <ion-modal-view>
    <div ng-show="currentAboutData">
  		<ion-header-bar class="icon-right">
	      <h1 class="title">{{currentAboutData.content[$index].title}}</h1>
	      <i class="button button-clear ion-close-round" ng-click="closeModal(1)"></i>
	    </ion-header-bar>
	    <ion-content>
	      {{currentAboutData.content[$index].text}}
	    </ion-content>
  	</div>
  	<div ng-hide="currentAboutData" >
  		<ion-header-bar class="icon-right">
	      <h1 class="title">{{currentParentOfSubInfo.content[$index].title}}</h1>
	      <i class="button button-clear ion-close-round" ng-click="closeModal(1)"></i>
	    </ion-header-bar>
	    <ion-content>
	      {{currentParentOfSubInfo.content[$index].text}}
	    </ion-content>
  	</div>
  </ion-modal-view>
  </script>

 