
<ion-view id="blank">
  <ion-content>
      <div ng-show="blankOn" class="blankWrapper">
        <header>
          <h1>Sample Header</h1>
          <h2>Sample sub Header</h2>
        </header>
        <article><i class="icon ion-person"></i> <p>Nullam dictum, velit eu eleifend bibendum, dui ante rutrum nulla, a ultricies nisl erat semper augue. Curabitur rutrum condimentum porta. Sed vestibulum ipsum enim, pellentesque semper risus ornare sed. Ut leo ex, tempus lacinia efficitur quis, consequat consequat sapien. Ut molestie malesuada ligula, a hendrerit augue vehicula eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></article>
        <button class="primary">Primary</button>
        <button class="secondary hide">Secondary</button>
      </div>
  </ion-content>
</ion-view>


