
<ion-view id="contact">
  <ion-content>
	<div class="wrapper">
		<h2>Contact Us</h2>
		<ul class="list list-inset">
		    <li class="item item-icon-left" ng-repeat="contact in data.contact.contacts">
		    	<i ng-hide="contact.customIcon" class="icon {{contact.icon}}"></i>
				<img class="customIcon" ng-src="{{contact.customIcon}}" alt="{{custom.input}}">
		    	 <p>{{contact.input}}</p>
		    	 <p class="contact-label">{{contact.title}}</p>
		    </li>
		</ul>
	</div>
  </ion-content>
</ion-view>
