

    <div ng-controller="LayoutCtrl">
       <div ng-if="snappyTheme.status == true" ng-hide="snappyTheme.name == 'pushMenu'">
          <div id="mainHeaderBar" class="bar bar-header">
          <i ng-click="defaultState()" class="button transparent icon-button ion-home"></i>
          <h1 class="title">
            <span  class="logo-title">
              <span ng-click="defaultState()" ng-hide="data.data.data.logo">{{headerText}}</span>
              <img ng-click="defaultState()"  ng-show="data.data.data.logo" class="logo" ng-src="{{data.data.data.logo}}" alt="{{data.data.data.applicationName}} logo">
            </span></h1>
          <i class="button button-clear ion-gear-b" ng-click="openModal()"></i>  
        </div>
      </div>
      

      <div id="{{data.data.data.theme}}">
          <ion-nav-view></ion-nav-view>
      </div>
    </div>
    
     <!-- Modals -->
    <script id="settings.html" type="text/ng-template">
      <ion-modal-view id="settings">
        <ion-header-bar class="icon-right">
          <h1 class="title">Settings</h1>
          <i class="button button-clear ion-ios-arrow-down" ng-click="closeModal()"></i>
        </ion-header-bar>
        <ion-content>
          <ul class="list">
               <li>
                  <a class="item item-icon-left" href="#/app/profile" ng-click="closeModal()" ng-show="loggedIn">
                    <i class="icon ion-person"></i>
                    Profile
                    <span class="badge badge-assertive">0</span>
                  </a>
               </li>
                <li>
                  <a class="item item-icon-left" href="#">
                    <i class="icon ion-refresh"></i>
                    Update
                    <span class="badge badge-assertive">0</span>
                  </a>
               </li>
                <li>
                  <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-bell"></i>
                    Notification
                    <span class="badge badge-assertive">0</span>
                  </a>
               </li>
               
                <li ng-show="login" ng-hide="!login.isGlobal">
                  <a class="button button-block item item-icon-left button-positive" ng-hide="loggedIn" ng-click="closeModal()" href="#/app/login">
                    <i class="icon ion-log-in"></i>
                    login
                  </a>
                  <a class="button button-block item item-icon-left button-assertive" ng-show="loggedIn" ng-click="signout()">
                    <i class="icon ion-log-in"></i>
                    logout
                  </a>
               </li>
          </ul>
        </ion-content>
    </ion-modal-view>
    </script>
