
<ion-view id="editor">
  <ion-content>
  	
 	<div ng-bind-html="$sce.trustAsHtml(data.editor.html)"></div>

 	  		<!-- <div ng-repeat="item in data.scrum2 track by $index">
 	  			<p>{{data.scrum2[currentData].content}} </p>
 	  		
 	  		</div> -->
	{{currentData}}
	<p>{{data.scrum2[currentData].content}}</p>
	
	<!-- <p>{{data.scrum[currentData].content}}</p> -->
		<!-- <div ng-repeat="info in data.scrum2[currentData]">
			{{data.scrum2[currentData]}}
		</div> -->
<!-- 
  		<div ng-repeat="data.scrum in collection track by $id(data.scrum)">
  			{{data.scrum.label}}
  		</div> -->
  </ion-content>
</ion-view>
