
<ion-view id="form">
  <ion-content>
	<div class="wrapper" ng-show="currentFormData.fields">
		<header class="banner" ng-show="currentFormData.label">
			<h2>{{currentFormData.label}}</h2>
			<img ng-show="currentFormData.banner" ng-src="{{currentFormData.banner}}" alt="currentFormData.label">
		</header>
		<p class="formDescription">{{currentFormData.description}}</p>
		<div ng-show="success" class="bar bar-header bar-balanced">
					<p class="title">{{success}}</p>
		</div>
		<div ng-show="error" class="bar bar-header bar-assertive">
			<p class="title">{{error}}</p>
		</div>
		<form class="form" name="myForm" novalidate ng-submit="submitForm()">
			<div class="list list-inset">
			  <div ng-repeat="info in currentFormData.fields">
			  	<label class="item item-input" ng-if="info.type == 'input'">
			  		<input type="text" placeholder="{{info.label}}" name="{{info.label}}" ng-model="form[info.label]" ng-required="{{info.required}}">
			  	</label>
			  	<label class="item item-input"  ng-if="info.type == 'textarea'">
			  		<textarea placeholder="{{info.label}}" name="{{info.label}}" ng-model="form[info.label]"></textarea>
			  	</label>
			  	<div class="list" ng-if="info.type == 'dropdown'">
			  	 	<h3>{{info.label}}</h3>
			  		<label class="item item-input item-select"  ng-repeat="item in info.selections">
				  			<div class="input-label">
						      {{item.label}}
						    </div>
						    <select ng-model="form.dropdown[item.label]">
						      <option ng-repeat="option in item.options" value="{{option.value}}">{{option.title}}</option>
						    </select>
			  		</label>
			  	</div>
			  	<label ng-if="info.type == 'checkbox'">
			  		<h3>{{info.label}}</h3> 		
			  		<ion-list>
					  <ion-checkbox ng-model="form.checkbox[check.group][check.label]" ng-repeat="check in info.checkList">{{check.label}}</ion-checkbox>
					</ion-list>
			  	</label>
			  	<label ng-if="info.type == 'radio'">
			  		<h3>{{info.label}}</h3> 		
			  		<ion-list>
					  <ion-radio ng-model="form.radio[info.label][radio.group]" icon="ion-record" ng-value="radio.value" ng-repeat="radio in info.radioList">{{radio.label}}</ion-radio>
					</ion-list>
			  	</label>
			  </div>
			  <button type="submit" class="button button-full button-assertive">
				  {{currentFormData.submitButton}}
			  </button>
			  	
			</div>
		</form>

	</div>

	<div class="wrapper" ng-hide="currentFormData.fields">
		<header ng-show="currentParentOfSubInfo.label" class="banner">
			<h2>{{currentParentOfSubInfo.label}}</h2>
			<img ng-show="currentParentOfSubInfo.banner" ng-src="{{currentParentOfSubInfo.banner}}" alt="currentParentOfSubInfo.label">
		</header>
		<p class="formDescription">{{currentParentOfSubInfo.description}}</p>
		<form class="form" name="myForm" novalidate ng-submit="submitForm()">
			<div class="list list-inset">
			  <div ng-repeat="info in currentParentOfSubInfo.fields">
			  	<label class="item item-input" ng-if="info.type == 'input'">
			  		<input type="text" placeholder="{{info.label}}" name="{{info.label}}" ng-model="form[info.label]" ng-required="{{info.required}}">
			  	</label>
			  	<label class="item item-input"  ng-if="info.type == 'textarea'">
			  		<textarea placeholder="{{info.label}}" name="{{info.label}}" ng-model="form[info.label]"></textarea>
			  	</label>
			  	<div class="list" ng-if="info.type == 'dropdown'"> 
			  		<h3>{{info.label}}</h3>	
			  		<label class="item item-input item-select"  ng-repeat="item in info.selections">

				  			<div class="input-label">
						      {{item.label}}
						    </div>
						    <select ng-model="form.dropdown[item.label]">
						      <option ng-repeat="option in item.options" value="{{option.value}}">{{option.title}}</option>
						    </select>
			  		</label>
			  	</div>
			  	<label ng-if="info.type == 'checkbox'">
			  			<h3>{{info.label}}</h3>
			  		<ion-list>
					  <ion-checkbox ng-model="form.checkbox[check.group][check.label]" ng-repeat="check in info.checkList">{{check.label}}</ion-checkbox>
					</ion-list>
			  	</label>
			  	<label ng-if="info.type == 'radio'">
				<h3>{{info.label}}</h3>
			  		<ion-list>

					  <ion-radio ng-model="form.radio[radio.group][radio.label]" ng-value="'A'" ng-repeat="radio in info.radioList">{{radio.label}}</ion-radio>
					</ion-list>
			  	</label>
			  </div>
			  <button type="submit" class="button button-full button-assertive">
				  {{currentParentOfSubInfo.submitButton}}
			  </button>
			</div>
		</form>
	</div>
  </ion-content>
</ion-view>
