<ion-view id="forgotPassword">
  <ion-content>
  <h2>{{forgotPassword.formName}}</h2>
	<form action="">
		<div class="list">

		  <div class="item item-input-inset">
		    <label class="item-input-wrapper">
		    	<i class="icon placeholder-icon ion-email"></i>
		      <input type="text" placeholder="{{forgotPassword.emailLabel}}">
		    </label>
		    <button class="button button-small">
		      {{forgotPassword.submitBtn}}
		    </button>
		  </div>

		</div>
	</form>
	<div class="message">
		<p>{{forgotPassword.message}}</p>
	</div>
  </ion-content>
</ion-view>