<div id="navigation">
  <ul class="row list-inline navList">
    <li ng-repeat="info in menuItems | limitTo:quantity" class="col col-25" test my-id="{{info.label}}" data-name="{{info.label}}">
      <a ng-show="info.subMenu" ng-click="subsSwitch(info.label,$index);moreModal()" class="button button-clear">
        <i ng-hide="info.customIcon" class="{{info.iconOn}}" ></i>
        <img ng-show="info.customIcon" class="customIcon" ng-src="{{info.customIcon}}" alt="{{info.label}}">
        <div class="menuTitle">{{info.label}}</div>
      </a>
      <a ng-hide="info.subMenu" href="{{info.href}}" class="button button-clear">
        <i ng-hide="info.customIcon" class="{{info.iconOn}}" ></i>
        <img ng-show="info.customIcon" class="customIcon" ng-src="{{info.customIcon}}" alt="{{info.label}}">
        <div class="menuTitle">{{info.label}}</div>
      </a>
    </li>
    <li class="col col-25 more" ng-click="moreModal();backToParentMenu();" ng-show="showMoreMenu">
      <a class="button button-clear">
        <i class="ion-more"></i>
        <div class="menuTitle">more</div>
      </a>
    </li>
  </ul>

  <script id="moreMenu.html" type="text/ng-template">
    <ion-modal-view id="moreMenu">
         <div  class="bar bar-header">
              <button ng-show="subsOn" class="button button-icon icon ion-arrow-left-c" ng-click="backToParentMenu();"></button>
               <div class="h1 title">Menu</div>
              <button class="button button-clear icon ion-chevron-down" ng-click="closeMoreModal()"></button>
        </div>
        <ion-content>
          <div class="tab-more slideDown">
            <ul class="list">
              <li ng-hide="subsOn" class="nosubs" ng-repeat="info in menuItems" ng-if="$index > 2">
                <a class="item item-icon-left item-icon-right" ng-click="subsSwitch(info.label,$index);" ng-show="info.subMenu">
                  <i ng-hide="info.customIcon" class="icon {{info.iconOn}}"> </i>
                   <img ng-show="info.customIcon" class="customIcon" ng-src="{{info.customIcon}}" alt="{{info.label}}">
                  {{info.label}}
                  <i class="subArrow icon ion-chevron-right"></i>
                </a>
                <a class="item item-icon-left" ng-hide="info.subMenu" href="{{info.href}}" ng-click="closeMoreModal()">
                  <i ng-hide="info.customIcon" class="icon {{info.iconOn}}"> </i>
                   <img class="customIcon" ng-src="{{info.customIcon}}" alt="{{info.label}}">
                  {{info.label}}
                </a>
              </li>

              <li ng-show="subsOn" class="subs" ng-repeat="info in currentParentOfSub.menuItems">
                  <a  class="item item-icon-left" href="{{info.href}}" ng-click="pageInfo($index);closeMoreModal();">
                      <i ng-hide="info.customIcon" class="icon {{info.iconOn}}"></i>
                      <img ng-show="info.customIcon" class="customIcon" ng-src="{{info.customIcon}}" alt="{{info.label}}">
                      {{info.label}}

                  </a>
              </li>

            </ul>
          </div>
       </ion-content>
    </ion-modal-view>
  </script>

