  <div class="flyout" >
      <ion-content class="scroll-content ionic-scroll" hide-nav-bar="true" has-header='false' >
      	<ul class="menuList menu1 active" ng-class="withHieght">
      		<li class="text-center nosubs" ng-repeat="info in menuItems">

      			<a ng-show="info.subMenu" ng-click="subsSwitch(info.label,$index);backdropActive();">
      				<i ng-hide="info.customIcon" data-customid="label_icon_{{info.id}}" class="icon {{info.iconOn}}"></i>
                      <img ng-show="info.customIcon" data-customid="label_img_{{info.id}}" class="customIcon" ng-src="{{info.customIcon}}" alt="{{info.label}}">
      				<p data-customid="label_text_{{info.id}}">{{info.label}}</p>
              <i class="subArrow icon ion-arrow-right-b"></i>
      			</a>
            <a ng-hide="info.subMenu" href="{{info.href}}" ng-click="backToParentMenu();backdropHide();">
                <i ng-hide="info.customIcon" data-customid="label_icon_{{info.id}}" class="icon {{info.iconOn}}"></i>
                <img ng-show="info.customIcon" data-customid="label_img_{{info.id}}" class="customIcon" ng-src="{{info.customIcon}}" alt="{{info.label}}">
                <p data-customid="label_text_{{info.id}}">{{info.label}}</p>
            </a>
      		</li>
      	</ul>
      </ion-content>
    </div>

