<div class="flyout sub" ng-show="subsOn">

  <ion-content class="scroll-content ionic-scroll" hide-nav-bar="true" has-header='false' >
    	<ul class="menuList menu1 active" ng-class="withHieght">

            <li ng-show="subsOn" class="text-center subs" ng-repeat="info in currentParentOfSub.menuItems">
                <a href="{{info.href}}" ng-click="pageInfo($index);backdropHide();">
                   <i ng-hide="info.customIcon" data-customid="label_icon_{{info.id}}" class="icon {{info.iconOn}}"></i>
                    <img ng-show="info.customIcon" data-customid="label_img_{{info.id}}" class="customIcon" ng-src="{{info.customIcon}}" alt="{{info.label}}">
                    <p data-customid="label_text_{{info.id}}">{{info.label}}</p>
                </a>
            </li>
        </ul>
    </ion-content>
</div>