
<ion-view id="video">
  <ion-content>
  
    <div ng-show="currentVideoData" class="wrapper">
           <h2 class="content padding double-padding-x">{{currentVideoData.label}}</h2>
           <div class="list card" ng-repeat="video in videos">
            <div class="item item-text-wrap">
              <h2>{{video.snippet.title}}</h2>
              <p>{{video.snippet.publishedAt | date : format : timezone}}</p>
            </div>
            <div class="item item-image">
               <div class="embed-responsive embed-responsive-16by9">
                <youtube-video class="embed-responsive-item" video-id="video.id.videoId" player-vars="playerVars"></youtube-video>
              </div>
            </div>
        </div>
    </div>
    <div ng-hide="currentVideoData" class="wrapper">
           <h2 class="content padding double-padding-x">{{currentParentOfSubInfo.label}}</h2>
           <div class="list card" ng-repeat="video in videos">
            <div class="item item-text-wrap">
              <h2>{{video.snippet.title}}</h2>
              <p>{{video.snippet.publishedAt | date : format : timezone}}</p>
            </div>
            <div class="item item-image">
               <div class="embed-responsive embed-responsive-16by9">
                <youtube-video class="embed-responsive-item" video-id="video.id.videoId" player-vars="playerVars"></youtube-video>
              </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>


