<ion-view id="login">
  <ion-content>
  <h2 class="title">{{login.login.formName}}</h2>
	<form action="">
		<div class="list">
		  <label class="item item-input">
		    <span class="input-label">{{login.login.usernameLabel}}</span>
		    <input type="text" ng-model='formLogin.username'>
		  </label>
		  <label class="item item-input">
		    <span class="input-label">{{login.login.passwordLabel}}</span>
		    <input type="password" ng-model='formLogin.password'>
		  </label>
		</div>
		<button type="submit" ng-click="login.signin()" class="button button-block">{{login.login.submitBtn}}</button>
	</form>
	<div class="row">
		<a class="col col-50 text-center button button-outline" href="#/app/register">register</a>
		<a class="col col-50 text-center button button-outline" href="#/app/forgotpassword">forgot password</a>
	</div>
  </ion-content>
</ion-view>